@model IEnumerable<MVC.ViewModel.ArticleVM>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Новини</h2>

<p>
    @Html.ActionLink("Сързай", "Create")
</p>
<style>
    .p {
        white-space: nowrap;
        width: 370px;
        overflow: hidden;
        text-overflow: ellipsis;
        border: 1px solid #000000;
    }
</style>


<table class="table table-bordered">
    @foreach (var item in Model)
    {
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">@item.User.Email</p>
                    <h5 class="card-title">@item.Title</h5>

                    <img src="@item.ImageUrl" height="260" width="370" />
                    <br />
                    <br />
                    <iframe width="370" height="260" src="@item.VideoUrl">
                    </iframe>
                    <p class="p">@item.Description</p>
                    <a href="/article/details/@item.Id" class="btn btn-primary">Повече</a>
                    <a href="article/delete/@item.Id" class="btn btn-primary">Изтрий</a>
                </div>
            </div>
        </div>
    }
</table>
